@include font-face("ld", "./fonts/ld", 400, null, eot)
@include font-face("ld", "./fonts/ld", 400, null, ttf)
@include font-face("ld", "./fonts/ld", 400, null, woff)
@include font-face("ld", "./fonts/ld", 400, null, svg)

i.ld {
  font-family: 'ld' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.ld.ld-md{
  font-size:1.3em;
}
i.ld.ld-lg{
  font-size:1.5em;
}

.ld-tag_faces:before {
  content: "\e90d";
}
.ld-filter:before {
  content: "\e90e";
}
.ld-at-sign:before {
  content: "\e907";
}
.ld-user:before {
  content: "\e90b";
}
.ld-arrow-left:before, .ld-chevrons-right:before{
  display: inline-block;
  transform: translate(0, 1px);
}
.ld-arrow-left:before {
  content: "\e900";
  line-height: 1px;
}
.ld-chevrons-right:before {
  content: "\e906";
}
.ld-droplet:before {
  content: "\e908";
}
.ld-external-link:before {
  content: "\e905";
}
.ld-layout:before {
  content: "\e909";
}
.ld-settings:before {
  content: "\e90a";
}
.ld-at:before {
  content: "\e91c";
}
.ld-bookmark:before {
  content: "\e901";
}
.ld-codepen:before {
  content: "\e943";
}
.ld-lock:before {
  content: "\e902";
}
.ld-monitor:before {
  content: "\e999";
}
.ld-package:before {
  content: "\e9a2";
}
.ld-phone-call:before {
  content: "\e9a8";
}
.ld-server:before {
  content: "\e903";
}
.ld-smartphone:before {
  content: "\e9d1";
}
.ld-truck:before {
  content: "\e904";
}
.ld-forward:before {
  content: "\e907";
}
.ld-twitter:before {
  content: "\f099";
}
.ld-github:before {
  content: "\f09b";
}
.ld-soundcloud:before {
  content: "\f1be";
}
.ld-send:before {
  content: "\f1d8";
}
