.logo {
    width: 188px;
    height: 21px;
    background: url("../img/logo.png");
    display: block;
    margin-top: 2px;
    background-position: 0 21px;

    &.is-white {
        background-position: 0 0;
        color: white;
    }

    &.is-icon {
        width: 52px;
        height: 15px;
    }

    &.is-text {
        font-family: "Nexa";
        background: none;
        color: black;
        font-size: 20px;
        line-height: 24px;

        &:before {
            content: 'Léo';
            font-weight: 300;
        }

        &:after {
            content: 'Desigaux';
            font-weight: 600;
        }
    }
}

.is-transparent .navbar .navbar-brand a.navbar-item {
    & .logo {
        background-position: 0 0;

        &.is-text {
            color: white;
        }
    }
}