<footer class="footer">
  <div class="container">
    <div class="content columns">
      <div class="column">
        <div class="logo is-icon"></div>
        <div class="spacer"></div>
        <div class="logo is-text"></div>
        <div class="spacer is-large"></div>
        <p>N'hésitez pas à me contacter :)</p>
        <p class="has-text-grey">
          Téléphone: <a href="#">+33 6 50 10 25 64</a><br/>
          Email: <a href="#">leo.desigaux@gmail.com</a>
        </p>
        <p class="icons is-clearfix">
          <a href="#" class="link-twitter"><i class="ld ld-twitter"></i></a>
          <a href="#" class="link-github"><i class="ld ld-github"></i></a>
          <a href="#" class="link-soundcloud"><i class="ld ld-soundcloud"></i></a>
        </p>
      </div>
      <div class="column">
        <h3><span>Navigation</span></h3>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Réalisations</a></li>
          <li><a href="#">Labo</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="column">
        <h3><span>Informations</span></h3>
        <p>Ce site web est sous license <a href="#">CC BY NC SA 4.0</a><br/>Son code source est disponible sur <a href="#">Github</a>.</p>
        <div class="spacer is-hidden-tablet"></div>
        <p class="credits">
          <a href="ovh">
            <span>Hébergé par</span>
            <img src="https://www.ovh.com/fr/news/logos/without-baseline/logo-ovh-sans-black-72DPI.png" alt="Hosted by Ovh">
          </a>
          <a href="https://bulma.io">
            <span>Réalisé avec</span>
            <img src="https://bulma.io/images/bulma-logo.png" alt="Made with Bulma">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>