.blog-list {
    article {
        &:hover .date {
            width: 100px;
            padding-right: 8px;
        }

        figure {
            border-radius: 1em;
            overflow: hidden;

            .date {
                transition: all 0.2s $easeOutBack;
                width: 92px;
                height: 72px;
                position: absolute;
                color: $ld-black;
                border-radius: .5em 0 0 .5em;
                top: 28px;
                right: 0;
                background: white;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                & span {
                    font-size: 64px;
                    font-family: "Nexa";
                    font-weight: 300;
                    line-height: 61px;
                    margin-left: 8px;
                    height: 61px;
                    margin-top: 5px;
                    position: relative;

                    & i {
                        font-family: "Nexa";
                        font-weight: 600;
                        position: absolute;
                        font-size: 20px;
                        right: 0;
                        bottom: 5px;
                        font-style: normal;
                        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                        color: $ld-blue;
                        padding: 0;
                        line-height: 20px;
                    }
                }

                &:after, &:before {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    box-shadow: 0 5px 0 0 white;
                    position: absolute;
                    right: 0px;
                    top: -16px;
                    transform: rotate(-45deg);
                }

                &:before {
                    transform: rotate(-135deg);
                    top: auto;
                    bottom: -16px;
                }
            }
        }

        @media #{$medium-down} {
            .media-left.is-figure {
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 5px;
                margin-right: 0;

                & figure {
                    width: 64px;
                    height: 64px;
                    border-radius: 5px;

                    img {
                        width: 64px;
                        height: 64px;
                    }
                }

                & .date {
                    display: none;
                }
            }

            h2 {
                margin-right: 72px !important;
            }
        }

        @media #{$small-down} {
            .media-left.is-figure {
                display: none;
            }

            h2 {
                margin-right: 0 !important;
            }
        }

        .level.blog-title {
            margin-bottom: .5em;

            .level-left {
                align-items: flex-end;

                h2 {
                    color: $ld-black;
                    margin-bottom: 0;
                    margin-right: 8px;
                }

                small {
                    color: $ld-gray;
                }
            }

            @media #{$medium-down} {
                .level-right {
                    margin-top: .5em;
                }
            }
        }

        a.readme {
            font-weight: bold;
            font-size: 14px;

            & i {
                display: inline-block;
                transition: .3s transform;
            }

            &:hover {
                & i {
                    transform: translateX(3px);
                }
            }
        }
    }
}

@media #{$medium-down} {
    .media {
        position: relative;
    }
}

.blog-post {
    figure.is-thumb {
        width: 256px;
        height: 256px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 1em;
    }

    h1 {
        color: $ld-black !important;
    }

    .is-tags {
        display: flex;
        justify-content: center;

        .tag {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}