:root {
    --laptop-origin: 100%;
    --laptop-deg: -79deg;
    --laptop-percent: 0;
}

@media #{$large-up} {
    .hero.is-laptop {
        margin-bottom: 92px;
    }
}

@media #{$large-down} {
    .hero.is-laptop {
        .container {
            width: auto;
            max-width: 1000px;
        }
    }
}

.hero.is-laptop {
    padding-bottom: 64px;

    & .column.is-content {
        .title {
            h3 {
                font-size: 48px;
                color: $ld-black;
                font-weight: 900;
                margin-bottom: 16px;
            }

            p {
                font-size: 18px;
                color: $ld-gray;
                font-weight: 400;
                margin-bottom: 32px;
            }
        }

        .content {
            .box-circle {
                width: 64px;
                height: 64px;
                line-height: 81px;
                background: $ld-blue;
                border-radius: 50%;
                box-shadow: 0 5px 15px $ld-blue;
                text-align: center;

                i {
                    font-size: 36px;
                    color: white;
                }
            }

            h5 {
                font-size: 18px;
                color: $ld-darkblue;
                font-weight: bold;
                margin-bottom: 5px;
            }

            p {
                font-size: 18px;
                color: $ld-lightgray;
                line-height: 20px;
                margin-bottom: 5px;
            }
        }
    }

    & .laptop-container {
        position: relative;

        & .laptop {
            width: 655px;
            height: 527px;
            position: absolute;
            left: 21px;
            top: 72px;
            perspective-origin: 10% var(--laptop-origin);
            will-change: perspective-origin;
            perspective: 2500px;
            background: url("../img/laptop.png") -781px 0 no-repeat;

            @media #{$full-up} {
                top: 0px;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                width: 219px;
                height: 197px;
                top: 53px;
                left: -90px;
                background: url("../img/laptop.png");
                opacity: calc(1 - var(--laptop-percent));
                will-change: opacity;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: 0;
                width: 555px;
                height: 390px;
                top: 100px;
                border-radius: 22px;
                left: 78px;
                background: rgba(0, 0, 0, 0.5);
                opacity: calc(var(--laptop-percent));
                will-change: opacity;
            }

            & .laptop--screen {
                width: 562px;
                height: 394px;
                top: -293px;
                right: 20px;
                z-index: 1;
                transform: rotateX(var(--laptop-deg));
                will-change: transform;
                transform-origin: 0% 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                border-radius: 20px;
                box-shadow: inset 0 10px 0 20px #111,  inset 0 -15px 0 5px #050607;
                position: absolute;
                transform-style: preserve-3d;
                background: red;
                background-size: cover;
            }

            & .laptop--screen:after {
                content: "";
                background: url("../img/laptop.png") -219px 0;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                display: block;
            }
        }
    }
}