.navbar {
    background-color: white !important;
    margin-bottom: 16px;

    .navbar-burger span {
        background: #111;
        height: 2px;
        border-radius: 2px;
    }

    a.navbar-item {
        img {
            margin-top: 10px;
        }

        &:hover {
            background-color: transparent !important;

            & span {
                color: #111;
                opacity: 1;

                &:after {
                    width: 100%;
                }
            }
        }

        & span {
            color: #333;
            position: relative;
            opacity: .8;
            transition: opacity .2s;

            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 0%;
                transition: width .2s;
                background: #333;
                margin-top: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.is-transparent {
    .navbar {
        background-color: transparent !important;

        .navbar-burger span {
            background: white;
            height: 2px;
            border-radius: 2px;
        }

        a.navbar-item {
            & span {
                color: #fff;

                &:after {
                    background: #ccc;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}